/* Fonts */
:root {
  --default-font: "Poppins",
    sans-serif;
  --heading-font: "Poppins", sans-serif;
  --nav-font: "Poppins", sans-serif;
}

:root {
  --background-color: #ffffff;
  /* Background color for the entire website, including individual sections */
  --default-color: #000;
  /* Default color used for the majority of the text content across the entire website */
  --heading-color: #000;
  /* Color for headings, subheadings and title throughout the website */
  --accent-color: #71c55d;
  /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff;
  /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff;
  /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

:root {
  --nav-color: #000;
  /* The default color of the main navmenu links */
  --nav-hover-color: #71c55d;
  /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #ffffff;
  /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #ffffff;
  /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #000;
  /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #71c55d;
  /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

.light-background {
  --background-color: #f1f6f1;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #060606;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #252525;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  
  color: var(--default-color);
  background-color: var(--background-color);
  transition: all 0.5s;
  z-index: 997;
  height: 95px;
}



.header .logo img {
  width: 180px;
  height: auto;
  /* margin: 0px 10px; */
}

.scrolled .header {
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .header {
    position: sticky;
    height: 80px;
    padding: 0px 20px;
  }
  .header .container-fluid{
    padding: 0;
    margin: 0;
  }
  
.header .logo img {
  max-width: 129px;
  height: 17.5%;
  margin: 10px 0 0 0;
}
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Navmenu - Desktop */
@media (min-width: 1200px) {
  
  .navmenu {
    padding: 0;
  }

  .navmenu ul {
    margin: 0 45px;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-color);
    padding: 18px 15px;
    font-size: 20px;
    font-family: var(--nav-font);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
  }

  .navmenu li:last-child a {
    padding-right: 0;
  }

  .navmenu li:hover>a,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--nav-hover-color);
  }
  .navmenu .dropdown ul {
    margin: 0;
    padding: 10px 0;
    background: var(--nav-dropdown-background-color);
    display: block;
    position: absolute;
    visibility: hidden;
    left: 14px;
    top: 130%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }
  .navmenu .dropdown ul li {
    min-width: 200px;
  }

  .navmenu .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: var(--nav-dropdown-color);
  }

  .navmenu .dropdown ul a i {
    font-size: 12px;
  }

  .navmenu .dropdown ul a:hover,
  .navmenu .dropdown ul .active:hover,
  .navmenu .dropdown ul li:hover>a {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
}

/* Navmenu - Mobile */
@media (max-width: 1199px) {
  .mobile-nav-toggle {
    color: var(--nav-color);
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu {
    padding: 0;
    z-index: 9997;
  }

  .navmenu ul {
    display: none;
    list-style: none;
    position: absolute;
    inset: 60px 20px 20px 20px;
    padding: 10px 0;
    margin: 0;
    border-radius: 6px;
    background-color: var(--nav-mobile-background-color);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-dropdown-color);
    padding: 10px 20px;
    font-family: var(--nav-font);
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
  }

  .navmenu a i:hover,
  .navmenu a:focus i:hover {
    background-color: var(--accent-color);
    color: var(--contrast-color);
  }

  .navmenu a:hover,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .active i,
  .navmenu .active:focus i {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    transform: rotate(180deg);
  }

  .navmenu .dropdown ul {
    position: static;
    display: none;
    z-index: 99;
    padding: 10px 0;
    margin: 10px 20px;
    background-color: var(--nav-dropdown-background-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    box-shadow: none;
    transition: all 0.5s ease-in-out;
  }

  .navmenu .dropdown ul ul {
    background-color: rgba(33, 37, 41, 0.1);
  }

  .navmenu .dropdown>.dropdown-active {
    display: block;
    background-color: rgba(33, 37, 41, 0.03);
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    position: absolute;
    font-size: 32px;
    top: 15px;
    right: 15px;
    margin-right: 0;
    z-index: 9999;
  }

  .mobile-nav-active .navmenu {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
    transition: 0.3s;
  }

  .mobile-nav-active .navmenu>ul {
    display: block;
  }
}


/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  color: white;
  background-color: #486325;
  font-size: 14px;
  
  position: relative;
  padding: 40px 70px;
}

.footer h5 {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.footer .logo img {
  width: 110px;
  height: auto;
}

.footer ul li a {
  color: white;
}

.footer ul li a:hover {
  color:#71c55d;
}
.footer .footer-tagline {
  color: white;
  font-size: 16px;
  font-weight: 400;
  
}

.footer .copyright {
  display: flex;
  float: left;
  justify-content: space-between;
  align-items: center;
}

.footer .copyright p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
}

.footer .social-links {
  justify-content: end;

}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27.73px;
  height: 27.73px;
  border-radius: 138.64px;
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 50%);
  font-size: 16px;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  margin: 0 5px;
  transition: 0.3s;
  background-color: white;
}

.footer .social-links a:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
  background-color: #78A53D;
}

.footer .social-links .social-icon {
  height: 27.73px;
  width: 27.73px;
  background-color: white;
  border-radius: 138.64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .footer{
    padding: 0px 20px;
  }
  .footer .footer-bottom {
    display: block;
  
  }
  
  .footer .container {
    padding: 0 ;
    padding-bottom: 48px;
    
  }

  .footer .copyright {
    display: block;
    padding: 0;
  }
  .footer .copyright p {
    margin-bottom: 24px;
  }

  .footer .social-links {
    justify-content: start;
    margin-top: 8px;

  }
  .footer .logo{
    margin-top: 24px;
    margin-bottom: 5px;
  }
  .footer .footer-tagline{
    font-size: 16px;
    margin-bottom: 20px;
  }
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background-color: var(--background-color);
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--accent-color);
  border-top-color: color-mix(in srgb, var(--accent-color), transparent 90%);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: -15px;
  z-index: 99999;
  background-color: #608431;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 0;
}

.scroll-top:hover {
  background-color: #304218;
  color: var(--contrast-color);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
  bottom: 15px;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 40px 0;
  scroll-margin-top: 90px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 66px;
  }
}

@media (max-width: 768px) {
  section,
    .section {
    padding: 20px 0;
  }

}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  position: relative;
  padding: 100px 0;
  background-color: #E9F4DB;
  background-image: url("../img/new-bgg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container {
  position: relative;
  z-index: 3;
  margin: 0 70px;
  box-sizing: border-box;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2
}

.hero .hero-content {
  margin-top: 60px;
}

.hero .hero-content h5 {
  margin-bottom: 20px;
  color: #A2CF67;
  font-size: 32px;
  font-weight: 500;
}

.hero h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}

.hero h2 .accent {
  color: var(--accent-color);
}

.scrolling-text-container {
  position: relative;
  height: 77px;
  overflow: hidden;
  text-align: left;
}

.hero .scrolling-text-container .heading {
  position: absolute;
  width: 100%;
  margin: 0;
  font-weight: bold;
  line-height: 77px;
  color: #A2CF67;
  transition: transform 1s ease-in-out;
}

.scrolling-text-container .heading.up {
  transform: translateY(-100%);
}

.scrolling-text-container .heading.down {
  transform: translateY(150%);
}

.scrolling-text-container .heading.center {
  transform: translateY(0);
}

@media (max-width: 768px) {
  .scrolling-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .scrolling-text-container .heading {
    position: static;
    transform: none;
    line-height: normal;
    margin: 0;
  }

  /* Adjust content for mobile view */
  #first-h2 {
    content: "Talent Mobility";
  }
}

.hero p {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 40px;
}

.hero .btn-get-started {
  color: #1D280F;
  background-color: #90C649;
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 8px;
  transition: 0.5s;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
}

.hero .btn-get-started:hover {
  background: #608431;
  color: white;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
}

.hero .btn-watch-video {
  font-size: 20px;
  transition: 0.5s;
  margin-left: 30px;
  font-weight: 600;
  color: #FFFFFF;

}

.hero .btn-watch-video i {
  color: #FFFFFF;
  font-size: 48px;
  transition: 0.3s;
  line-height: 0;
  margin-right: 8px;
}

.hero .btn-watch-video:hover {
  color: #90C649;
}

.hero .btn-watch-video:hover i {
  color: #90C649;
}

.hero .hero-img {
  border-radius: 100px;
  height: 100%;
  margin-top: 0;
}


@media (max-width: 768px) {
  .hero {
    width: 100%;
    position: relative;
    padding: 0;
    background-color: #E9F4DB;
  }

  .hero .hero-content {
    margin: 48px 0 60px 0;

    padding: 0 20px 0 20px;
  }

  .hero h2 {
    font-size: 40px;
  }

  .hero .hero-content h5 {
    font-size: 24px;

  }

  .hero p {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .hero .btn-get-started {
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
  }

  .hero .btn-watch-video {
    margin-left: 0px;
  }

  .hero .container {
    z-index: 3;
    margin: 30px auto;
    box-sizing: border-box;
  }

  .hero .hero-img {
    margin-top: 30px;
  }

  .scrolling-text-container .h2 {
    font-size: 40px;
  }

  .hero .hero-content .buttons-div {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

.about{
  margin: 0px 70px;
}

.about .about-images img {
  border-radius: 200px;
  object-fit: cover;
}

/* Container for the steps */
.line {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 15px;

  /* Add padding for proper alignment */
}

/* Line that connects the circles */
.line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 8%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: #608431;
  z-index: 0;
}




/* Individual step */ 
.step {
  display: flex;
  align-items: center;
  margin: 10px 0;
  
}



/* Circle for numbering  */ 
.circle {
  background-color: #608431;
  color: white;
  font-weight: 700;
  font-size: 20px;
  width: 52px;
  height: 52px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  margin-right: 10px;
  z-index: 1;
}


.circle+div {
  float: left;
  margin-left: 70px;
  margin-top: -40px;
}

/* Text styling */
.step p {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}


@media (max-width: 768px) {
  .about {
    margin: 0px 20px;
  }

  .about .container {
    padding: 0px;
  }
  .about .content{
    margin-left: 0;
    margin-right: 0;
  }

  .about .about-images img {
    border-radius: 180px;
    width: 350px;
    height: 610px;
    flex-shrink: 0;
    margin-right: 0;

  }
  .about .about-images {
    order: 2;
    padding: 0;
  }

  .about .content {
    padding: 0px;
    margin: 0px;
    order: 1;
  }

  .about .content p {
    font-size: 20px;
  }

  .line {
    padding-left: 0px;
  }

}


/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.title {
  text-align: center;
  position: relative;

}

.title h2 {
  font-size: 48px;
  font-weight: 700;
  color: #608431;
  margin: 30px 0 50px 0;
}

.services {
  margin: 0px 50px;
}

.services .service-item {
  background-color: #F5F5F5;
  padding: 40px 24px;
  transition: all ease-in-out 0.3s;
  border-radius: 18px;
  border-bottom: 5px solid var(--surface-color);
  height: 100%;
}

.services .service-item .icon {
  color: var(--contrast-color);
  background: #78A53D;
  margin: 0;
  width: 64px;
  height: 64px;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 30px;
  transition: ease-in-out 0.3s;
}

.services .service-item h3 {
  font-weight: 700;
  margin: 10px 0 15px 0;
  font-size: 24px;
  transition: ease-in-out 0.3s;
  color: #608431;
}

.services .service-item p {
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

@media (min-width: 1365px) {

  .services .service-item:hover {
    transform: translateY(-10px);
    border-color: var(--accent-color);
  }

  .services .service-item:hover h3 {
    color: var(--accent-color);
  }
}


@media (max-width: 768px) {
  .title h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0px 0 50px 0;
  }

  .services {
    margin: 0px 20px;
  }

  .services .container{
    padding: 0px;
  }

  .services .service-item {
    padding: 32px 24px;
  }

  .services .service-item h3 {
    font-size: 20px;
    line-height: 30px;
  }

  .services .service-item p {
    font-size: 16px;
  }
}

/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.features {
  margin: 0px 50px;
}

.features .feature-box-main {
  margin: 0 48px 0 48px;
  padding: 16px;
}

.features .feature-box {
  display: flex;
  height: 100%;
  border-radius: 8px;
  transition: 0.3s;
}

.features .feature-box.item .icon {
  background: #E9F4DB;
  height: 100px;
  width: 100px;
}

.features .feature-box .icon {
  font-size: 45px;
  border-radius: 10px;
  position: relative;
  margin-right: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  color: #608431;
}

.features .feature-box h4 {
  font-size: 20px;
  color: #304218;
}

@media (max-width: 768px) {
  .features {
    margin: 0px 20px;
  }

  .features .feature-box-main {
    margin: 0;
    padding: 0;
  }

  .features .feature-box-outer {
    margin: 0;
    padding: 0 0 16px 0;
  }

  .features .container {
    padding: 0;
  }

  .features .feature-box.item .icon {
    height: 107px;
    width: 110px;
  }
}

/*--------------------------------------------------------------call-to-action
# Call To Action Section
--------------------------------------------------------------*/
.call-to-action {
  margin: 22px 70px 96px 70px;
}

.call-to-action .container {
  padding: 70px;
}

.call-to-action .container-fluid h3 {
  font-size: 48px;
  font-weight: 700;
  color: #608431;
}

.call-to-action .cta-btn {
  color: #1D280F;
  background-color: #90C649;
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 8px;
  transition: 0.5s;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
}

.call-to-action .cta-btn:hover {
  background: #608431;
  color: white;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
}


.call-to-action .img img {
  border-radius: 200px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .call-to-action{
    margin: 0px 20px;
  }
 
  .call-to-action .content{
    padding: 0px;

  }

  .call-to-action .img {
    width: 100%;
  }

  .call-to-action .img img {
    border-radius: 180px;
    width: 100%;
    /* width: 350px;
    height: 550px; */
    flex-shrink: 0;
    margin-right: 0;
    margin-bottom: 48px;
  }

  .call-to-action .container-fluid h3 {
    font-size: 32px;
  }
  .call-to-action .cta-btn {
    padding: 12px 24px;
    font-size: 16px;
  }
  .call-to-action .cta-image{
    padding: 0 ;
    margin: 30px 0 0 0;
    width: 100%;
  }
}

/*--------------------------------------------------------------Pricing Page
# Pricing Page
--------------------------------------------------------------*/
.pricing{
    width: 100%;
    position: relative;
    padding: 120px 0 60px;
    background-color: #F5F5F5;
}
.title-pricing{
  max-width: 800px;
  text-align: center;
  padding-bottom: 60px;
    
}
.pricing .title h5 {  
  color: #608431;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.pricing .title h2 {
  font-size: 48px;
  font-weight: 700;
  color: #608431;
  margin: 24px 0;
}
.pricing .title p{
  font-size: 1.25rem;
}
.discover{
  margin: 60px auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
  max-width: 1100px;
  text-align: center;
  border-bottom: 1px solid #608431;

}
.discover h3{
  font-weight: 700;
  margin: 10px 0 15px 0;
  font-size: 26px;
  transition: ease-in-out 0.3s;
  color: #608431;
  }


.btn-discover{
  color: #1D280F;
  background-color: #90C649;
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
}
.btn-discover:hover{
  background: #608431;
  color: white;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
}
.specific-package{
  margin: 60px auto 0px;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1100px;
  text-align: center;

}
.specific-package h2{
  font-size: 36px;
    font-weight: 700;
    color: #608431;
    margin: auto;
    max-width: 800px;
    text-align: center;
    padding-bottom: 40px;
}
.specific-package p{
  font-size: 1.25rem;
  
}

.arrow-down {
  font-size: 2rem;
  color: #608431;
  display: inline-block;
  animation: bounce 1s infinite;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}
@media (max-width: 768px){
  .pricing{
    padding: 60px 0 60px; 
  }
  .title-pricing {
    max-width: 20rem;
  }
  .discover{
   padding-left: 40px;
   padding-right: 40px;
  }
  .specific-package{
    padding-left: 40px;
    padding-right: 40px;
  }
} 

